In [ ]:
import pandas as pd
import sqlalchemy

db_url = "postgresql://usuario:senha@host:porta/database"
db_path = db_url # para manter compatibilidade com o código existente

# lendo a query do arquivo
with open('03-gold-enriched/pg_session.sql', 'r', encoding='utf-8') as file:
    query = file.read()

# conectando ao banco de dados e executando a query
# engine = sqlalchemy.create_engine(db_url)
with sqlalchemy.create_engine(db_path).connect() as connection:
    df = pd.read_sql_query(query, connection)

df.head()

,id,nome,email,telefone,cep,data_nascimento,genero,cep.1,logradouro,complemento,...,ddd,siafi,erro,id,nome,email,telefone,cep,data_nascimento,genero
0,1.0,Ana Paula Silva,ana.silva@email.com,11987654321.0,01001-000,1990-05-12,Feminino,01001-000,Praça da Sé,lado ímpar,...,11.0,7107.0,None,1,Ana Paula Silva,ana.silva@email.com,11987654321,01001-000,1990-05-12,Feminino
1,2.0,Carlos Eduardo Souza,carlos.souza@email.com,21999887766.0,20040-010,1985-11-23,Masculino,20040-010,Avenida Presidente Vargas,até 309 - lado ímpar,...,21.0,6001.0,None,2,Carlos Eduardo Souza,carlos.souza@email.com,21999887766,20040-010,1985-11-23,Masculino
2,3.0,Mariana Oliveira,mariana.oliveira@email.com,31988776655.0,30130-010,1992-07-08,Feminino,30130-010,Praça Sete de Setembro,None,...,31.0,4123.0,None,3,Mariana Oliveira,mariana.oliveira@email.com,31988776655,30130-010,1992-07-08,Feminino
3,4.0,João Pedro Lima,joao.lima@email.com,41977665544.0,80010-000,1988-03-15,Masculino,80010-000,Rua José Loureiro,None,...,41.0,7535.0,None,4,João Pedro Lima,joao.lima@email.com,41977665544,80010-000,1988-03-15,Masculino
4,5.0,Fernanda Costa,fernanda.costa@email.com,51966554433.0,90010-320,1995-09-30,Feminino,90010-320,Rua Coronel Fernando Machado,lado par,...,51.0,8801.0,None,5,Fernanda Costa,fernanda.costa@email.com,51966554433,90010-320,1995-09-30,Feminino